.hand-container {
    width: 100%;
    margin-left: 20%;
    height: 400px;
}

.player-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.selected {
    margin-top: 0px;
    z-index: 10;
    transition: margin-top 0.25s;
}

.deselected {
    margin-top: 50px;
    transition: margin-top 0.25s;
}

@keyframes card-lift {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}