.deck-container {
    background-image: url("/public/images/new-card-background.png");
    background-size: cover;
    height: 250px;
    width: 240px;
    margin-right: 5%;
    padding: 30px;
    font-family: 'Sedan SC', sans-serif;
    font-size: 3.5em;
    position: relative;
    margin-top: 7%;
    user-select: none;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 3);
    transform: perspective(800px) rotateX(10deg);
    transition: transform 0.2s, box-shadow 0.2s;
}

.deck-container:hover {
    transform: perspective(800px) rotateX(0deg) translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.deck-container p {
    color: white;
}