.card {
    background: url("/public/images/card-background-4.png") -5px -5px;
    background-size: cover;
    width: 200px;
    height: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 5);
    border-radius: 40px;
    padding: 20px;
    position: relative;
    overflow: hidden;
/*    cursor drag*/
    cursor: pointer;
    user-select: none;
    margin: 10px;
}

.card:hover {
    animation: shake 0.15s;
}

.played {
    animation: played 2.0s;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 15%;
}

.card .card-header img {
    box-shadow: none;
    border-radius: 50%;
}

.card .card-image {
    max-width: 100%;
    height: 40%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.card h2 {
    margin: 0 0 5px -30px;
    font-size: 1.75em;
    color: #382a1c;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Sedan SC', sans-serif;
    font-weight: 800;
    width: 90%;
}

.card p {
    background: rgba(241, 221, 184, 1);
    margin: 0;
    padding: 10px;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 0.9em;
    color: #4a3f35;
    border-radius: 5px;
    height: 35%;
    font-family: 'Sedan SC', sans-serif;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}

@keyframes played {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(0.00001); }
}