.event-panel-container {
    border: 1px solid red;
    width: 90%;
    height: 500px;
    margin: 0 5%;
}

.current-event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}