.hand-ui button {
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hand-ui button:hover {
    animation: shake 0.2s;
}

.hand-ui .play-button {
    background-color: #0095ff;
}

.hand-ui .discard-button {
    background-color: #f44336;
}

.hand-ui .combine-button {
    background-color: #ac05ff;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}