.chat-panel {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: 30vh;
  bottom: 0px;
  left: 5px;
  border: 20px solid;
  border-image-source: url("ChatBorder.png");
  border-image-slice: 15 15 15 15 fill;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  /*background: #f1f1f1;*/
  padding: 10px;
  opacity: 0.5;
  color: yellow;
}

.close-button {
  margin-left: 20vw;
  cursor: pointer;
}

.chat-panel.hidden {
  display: none;
}

.open-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8em;
  font-weight: bold;
}
