* {
    overflow: hidden;
}

.app-container {
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.background-container {
    background-image: url("/public/images/new-background.png");
    background-size: 110%;
    /* offset background by 100px*/
    background-position: -100px;
    height: 97vh;
    width: 100vw;
    padding: 20px;
    overflow: hidden;
}

.app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.app-content h1 {
    font-family: 'Sedan SC', sans-serif;
    color: #6b4a36;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #000000;
}

