.app-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Princess Sofia", sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    user-select: none;
    background-image: url("../public/tavern-3.webp");
    background-size: cover;
}

.center-panel {
    border: 1px solid #000;
    height: 50vh;
    width: 48.2vw;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 26.5vh;
    left: 25vw;
    background-image: url("../public/oak-wood.svg");
    color: white;
}

.left-panel, .right-panel {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #000;
    position: absolute;
    width: 23.7vw;
    height: 52.5vh;
    top: 29vh;
    background-image: url("../public/oak-wood.svg");
}

.panel-content {
    padding: 20px;
}

.left-panel {
    left: 5px;
    transform: skew(-20deg) rotate(-20deg);
}

.right-panel {
    right: 5px;
    transform: skew(20deg) rotate(20deg);
}

.board {
    width: 90vw;
    border: 1px solid #000;
    height: 5vh;
    margin: 50px auto;
    overflow: hidden;
}

.board-tile {
    width: 2.04vw;
    height: 5vh;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 5.5vh;
    font-size: 0.3em;
    background: #ffcb5f;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
